<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Website bán sách</title>
    @*Css*@
    <link href="~/Content/fontEnd/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/fontEnd/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/fontEnd/css/prettyPhoto.css" rel="stylesheet" />
    <link href="~/Content/fontEnd/css/price-range.css" rel="stylesheet" />
    <link href="~/Content/fontEnd/css/animate.css" rel="stylesheet" />
    <link href="~/Content/fontEnd/css/responsive.css" rel="stylesheet" />
    <link href="~/Content/fontEnd/css/main.css" rel="stylesheet" />

</head>
<body>
    <header id="header">
        <!--header-->
        <div class="header_top">
            <!--header_top-->
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <ul class="social-network social-circle">

                            <li><a href="#" class="icoVimeo" title="Phone number"><i class="fa fa-phone" aria-hidden="true"></i></a></li>
                            <li><a href="#" class="icoRss" title="Send mail"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
                            <li><a href="https://www.facebook.com/holaotn" class="icoFacebook" title="Website bán sách online"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="skype:ngocphuoc1012" class="icoTwitter" title="Skype"><i class="fa fa-skype"></i></a></li>
                            <li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div>

                </div>
            </div>
        </div><!--/header_top-->

        <div class="header-bottom">
            <!--header-bottom-->
            <div class="container">
                <div id="myCarousel" class="carousel slide" data-ride="carousel">

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <img src="~/Content/fontEnd/images/banner/59855641-f4b4-4fba-83f1-d80ca4aa3314.jpg" style="width:100%"/>
                        </div>

                        <div class="item">
                            <img src="~/Content/fontEnd/images/banner/7a922d0b-f03c-4489-bb4b-853c3572a721.jpg" style="width:100%" />
                        </div>

                        <div class="item">
                            <img src="~/Content/fontEnd/images/banner/880cdee0-1fae-4755-bc10-522b20d168b6.jpg" style="width:100%" />
                        </div>

                        <div class="item">
                            <img src="~/Content/fontEnd/images/banner/880cdee0-1fae-4755-bc10-522b20d168b6.jpg" style="width:100%" />
                        </div>
                        <div class="item">
                            <img src="~/Content/fontEnd/images/banner/7a922d0b-f03c-4489-bb4b-853c3572a721.jpg" style="width:100%" />
                        </div>
                    </div>

                    <!-- Left and right controls -->
                    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#myCarousel" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div><!--/header-bottom-->
    </header>
    <!--Slider-->
    <section id="slider">
        <!--slider-->
        <div class="container">
            <div class="row">
                <nav class="navbar navbar-inverse">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <a class="navbar-brand" href="@Url.Action("Index","Home")">Muasach.com</a>
                        </div>
                        <ul class="nav navbar-nav">
                            <li><a href="@Url.Action("Index","Home")">Trang chủ</a></li>
                            <li><a href="#">Liên hệ</a></li>
                            <li>
                                <a href="@Url.Action("Cart","CartItem")">
                                    Giỏ hàng @Html.Action("CartitemPartial", "CartItem")
                                </a>
                            </li>
                        </ul>
                        <div class="navbar-form navbar-right">
                            @using (Html.BeginForm("SearchBook", "Book"))
                            { <div class="form-group">
                                @Html.TextBox("txtSearch", "", htmlAttributes: new { @class = "form-control", @placeholder = "tìm kiếm tên, thể loại, tác giả,..." })
                            </div>
                                <button type="submit" class="btn btn-default">Tìm kiếm</button>
                            }

                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </section>
    <!--EndSlider-->
    <!--Body-->
    <section>
        <div class="container body-content">
            <div class="row">
                <div class="col-sm-3">
                    <div class="left-sidebar">
                        <h2>Thể Loại</h2>

                        <div class="panel-group category-products" id="accordian">
                            <!--CATEGORY LIST-->
                            @Html.Action("CategoryPartial", "Home")
                        </div>
                        <div class="brands_products">
                            <!--brands_products-->
                            <h2>nhà xuất bản</h2>
                            @Html.Action("PublisherPartial", "Home")
                        </div>

                    </div>

                </div>
                @RenderBody()
            </div>
            </div>
    </section>
    <!--End Body-->
    <footer id="footer">
        <!--Footer-->

        <div class="footer-widget">
            <div class="container">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="single-widget">
                            <h2>Website</h2>
                            <ul class="nav nav-pills nav-stacked">
                                <li><a href="#">Giới thiệu website</a></li>
                                <li><a href="#">tuyển dụng</a></li>
                                <li><a href="#">chính sách bảo mật</a></li>
                                <li><a href="#">chương trình khuyến mãi</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="single-widget">
                            <h2>Trợ giúp</h2>
                            <ul class="nav nav-pills nav-stacked">
                                <li><a href="#">Quy dịnh sử dụng</a></li>
                                <li><a href="#">Hướng dẫn mua hàng</a></li>
                                <li><a href="#">câu hỏi thường gặp</a></li>
                                <li><a href="#">vận chuyển thanh toán</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="single-widget">
                            <h2>Tin tức sách</h2>
                            <ul class="nav nav-pills nav-stacked">
                                <li><a href="#">sách hay</a></li>
                                <li><a href="#">sách đươc mua nhiều</a></li>
                                <li><a href="#">khuyến mãi</a></li>
                                <li><a href="#">xem nhiều</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="single-widget">
                            <h2>Follow Us</h2>
                            <ul class="nav nav-pills nav-stacked">
                                <li><a href="#">facebook</a></li>
                                <li><a href="#">google plus</a></li>
                                <li><a href="#">twitter</a></li>
                                <li><a href="#">pinterest</a></li>
                            </ul>
                        </div>
                    </div>


                </div>
            </div>
        </div>

        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <p class="pull-left">Copyright &copy;All rights reserved.</p>
                    <p class="pull-right">Edit by <span><a target="_blank" href="#">Không biết</a></span></p>
                </div>
            </div>
        </div>
    </footer>
    <script src="~/Content/fontEnd/js/jquery.js"></script>
    <script src="~/Content/fontEnd/js/bootstrap.min.js"></script>
    <script src="~/Content/fontEnd/js/jquery.scrollUp.min.js"></script>
    <script src="~/Content/fontEnd/js/price-range.js"></script>
    <script src="~/Content/fontEnd/js/jquery.prettyPhoto.js"></script>
    <script src="~/Content/fontEnd/js/main.js"></script>
    @*<a id="scrollUp" href="#top" style="position: fixed; z-index: 2147483647;"><i class="fa fa-angle-up"></i></a>*@

</body>
<div id="fb-root"></div>
<script>
(function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.9";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
</html>
