@model shopping.Models.Book

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}

<h2>Details</h2>
<div id="content" class="span10">

    <div>
        <h4>Book</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.book_Title)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.book_Title)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.book_Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.book_Description)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.book_Price)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.book_Price)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.book_Quantity)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.book_Quantity)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.book_Image)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.book_Image)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.book_Year)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.book_Year)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.book_Slug)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.book_Slug)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Publisher.publisher_Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Publisher.publisher_Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Sub_Category.subcategory_Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Sub_Category.subcategory_Name)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.book_Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
    </div>