@model shopping.Models.Book

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}

<h2>Edit</h2>
<div id="content" class="span10">


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Book</h4>
            <hr />
            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.book_Id)

            <div class="form-group">
                @Html.LabelFor(model => model.book_Title, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.book_Title)
                    @Html.ValidationMessageFor(model => model.book_Title)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.book_Description, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.book_Description)
                    @Html.ValidationMessageFor(model => model.book_Description)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.book_Price, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.book_Price)
                    @Html.ValidationMessageFor(model => model.book_Price)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.book_Quantity, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.book_Quantity)
                    @Html.ValidationMessageFor(model => model.book_Quantity)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.book_Image, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.book_Image)
                    @Html.ValidationMessageFor(model => model.book_Image)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.book_Year, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.book_Year)
                    @Html.ValidationMessageFor(model => model.book_Year)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.subcategory_Id, "subcategory_Id", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("subcategory_Id", String.Empty)
                    @Html.ValidationMessageFor(model => model.subcategory_Id)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.publisher_Id, "publisher_Id", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("publisher_Id", String.Empty)
                    @Html.ValidationMessageFor(model => model.publisher_Id)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.book_Slug, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.book_Slug)
                    @Html.ValidationMessageFor(model => model.book_Slug)
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
    </div>
