@model shopping.Models.Sub_Category

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Sub_Category</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.subcategory_Id)

        <div class="form-group">
            @Html.LabelFor(model => model.subcategory_Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.subcategory_Name)
                @Html.ValidationMessageFor(model => model.subcategory_Name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.parent_CategoryId, "parent_CategoryId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("parent_CategoryId", String.Empty)
                @Html.ValidationMessageFor(model => model.parent_CategoryId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.subcategory_Slug, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.subcategory_Slug)
                @Html.ValidationMessageFor(model => model.subcategory_Slug)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
