@model IEnumerable<shopping.Models.Sub_Category>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.subcategory_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.subcategory_Slug)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category.category_Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.subcategory_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.subcategory_Slug)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category.category_Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.subcategory_Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.subcategory_Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.subcategory_Id })
        </td>
    </tr>
}

</table>
