@model shopping.Models.Orderdetail

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Orderdetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.orderdetail_Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.orderdetail_Quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.orderdetail_Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.orderdetail_Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.orderdetail_Total)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.orderdetail_Total)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Book.book_Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Book.book_Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Order.detail_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Order.detail_Id)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
