@using shopping.Models
@{
    foreach (var item in Model)
    {
        <div class="col-sm-4">
            <div class="product-image-wrapper">
                <div class="single-products">
                    <div class="productinfo text-center">

                        <img src="~/Content/fontEnd/images/book/@item.book_Image" />
                    </div>

                </div>

                <div class="choose">
                    <ul style="padding:0">
                        <li style="text-transform:capitalize;font-weight:bold;text-align:center;">
                            <a href="@Url.Action("Details", "Book", new { @id = item.book_Id })">@item.book_Title</a>

                        </li>
                        <li class="textTransform">
                            <a href="#">
                                <i class="fa fa-hand-o-right" aria-hidden="true"></i>
                                Tác giả:
                                @{
        foreach (var author in item.Authors)
        {
            @author.author_Name
        }
                                }
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-hand-o-right" aria-hidden="true"></i>
                                Giá: @String.Format("{0:0,0}", @item.book_Price) VND
                            </a>
                        </li>
                    </ul>

                </div>
            </div>
        </div>

    }
}
