@model shopping.Models.Book
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}
<div>
    <div id="content" class="span10">

        <h2>Thêm Sách Mới</h2>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h4>Book</h4>
                <hr />
                @Html.ValidationSummary(true)
                <div class="form-group">
                    @Html.LabelFor(model => model.book_Title, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">

                        @Html.EditorFor(model => model.book_Title)
                        @Html.ValidationMessageFor(model => model.book_Title)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.book_Description, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.book_Description)
                        @Html.ValidationMessageFor(model => model.book_Description)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.book_Price, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.book_Price)
                        @Html.ValidationMessageFor(model => model.book_Price)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.book_Quantity, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.book_Quantity)
                        @Html.ValidationMessageFor(model => model.book_Quantity)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.book_Image, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.book_Image)
                        @Html.ValidationMessageFor(model => model.book_Image)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.book_Year, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.book_Year)
                        @Html.ValidationMessageFor(model => model.book_Year)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.subcategory_Id, "category_Id", new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("category_Id", String.Empty)
                        @Html.ValidationMessageFor(model => model.subcategory_Id)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.publisher_Id, "publisher_Id", new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("publisher_Id", String.Empty)
                        @Html.ValidationMessageFor(model => model.publisher_Id)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.book_Slug, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.book_Slug)
                        @Html.ValidationMessageFor(model => model.book_Slug)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <a style="padding-right:20px;" href="@Url.Action("Index")">Danh Sách Sách</a>
                        <input type="submit" value="Create" class="btn btn-default" />
                        <div>
                        </div>
                    </div>
                </div>

            </div>
        }
        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>
    </div>
    </div>