@model shopping.Models.Book

@{
    ViewBag.Title = @Html.DisplayFor(model => model.book_Title);
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2></h2>

<div class="col-sm-9 padding-right">
    <div class="product-details">
        <!--product-details-->
        <div class="col-sm-5">
            <div class="view-product">
                <img src="~/Content/fontEnd/images/book/@Html.DisplayFor(model=>model.book_Image)" title="@Html.DisplayFor(model=>model.book_Title)" />
            </div>

        </div>
        <div class="col-sm-7">
            <div class="product-information">
                <!--/product-information-->
                <h2 class="textTransform">@Html.DisplayFor(model => model.book_Title)</h2>
                <span>
                    <span>@Html.DisplayFor(model => model.book_Price)</span>
                    <label>Số Lượng:</label>
                    <input type="text" value="3">

                </span>
                <p class="textTransform">
                    <b>Tác giả: </b>@{
                        foreach (var author in Model.Authors)
                        {
                            @author.author_Name
                        }
                    }
                </p>
                <p class="textTransform">
                    <b>Nhà xuất bản : </b>@Html.DisplayFor(model=>model.Publisher.publisher_Name)
                </p>
                <p class="textTransform"><b>Năm xuất bản : </b> @Html.DisplayFor(model => model.book_Year)</p>
                <p>
                    <b>
                        <button type="button" class="btn btn-fefault cart">
                            <i class="fa fa-shopping-cart"></i>
                            Thêm vào giỏ hàng
                        </button>
                    </b>
                </p>
            </div><!--/product-information-->
        </div>
    </div>
    <div>
        <h1>Giới thiệu sách</h1>
        <p style="text-align:justify;">
            @Html.DisplayFor(model => model.book_Description)
        </p>
    </div>
    <div>
        <div class="recommended_items">
            <!--recommended_items-->
            <h2 class="title text-center">Sách cùng chủ đề</h2>

        @Html.Action("RecommendCategory", "Category", new { id = Model.category_Id })
        </div><!--/recommended_items-->
    </div>
</div>
