@model IEnumerable<shopping.Models.Book>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}
<div id="content" class="span10">
    <div>
        <h2>Trang Quản Lý Sách</h2>
        <div>
            <p>
                @Html.ActionLink("Create New", "Create", "Book")
            </p>
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.book_Title)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.book_Description)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.book_Price)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.book_Quantity)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.Publisher.publisher_Name)
                    </th>

                </tr>

                @foreach (var item in Model)
            {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.book_Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.book_Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.book_Price)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.book_Quantity)
                        </td>


                        <td>
                            @Html.DisplayFor(modelItem => item.Publisher.publisher_Name)
                        </td>
                        <td>

                            <a href="@Url.Action("Edit","Book",new { id=item.book_Id})" title="Edit">
                                <i class="fa fa-pencil-square-o" aria-hidden="true">|</i>
                            </a>
                            <a href="@Url.Action("Details","Book",new  {id=item.book_Id})" title="Details">
                                <i class="fa fa-info-circle" aria-hidden="true">|</i>
                            </a>
                            <a href="@Url.Action("Delete","Book", new { id= item.book_Id})" title="Xoá" style="color:red">
                                <i class="fa fa-times" aria-hidden="true"></i>
                            </a>
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
    </div>