@model IEnumerable<shopping.Models.Publisher>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}

<h2>Index</h2>
<div id="content" class="span10">

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.publisher_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.publisher_Slug)
            </th>
            <th>Hành Động</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.publisher_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.publisher_Slug)
                </td>
                <td>
                    <a href="@Url.Action("Details", "Publisher", new { id = item.publisher_Id})">
                        <i class="fa fa-info-circle" aria-hidden="true"></i>
                    </a>
                    <a href="@Url.Action("Edit", "Publisher", new { id = item.publisher_Id})">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </a>
                    <a href="@Url.Action("Delete", "Publisher", new { id = item.publisher_Id})">
                        <i class="fa fa-times" aria-hidden="true"></i>

                    </a>
                </td>
            </tr>
        }

    </table>
</div>