@model shopping.Models.Publisher

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}
<div id="content" class="span10">
    <div>
        <h2>Xoá Nhà Xuất Bản </h2>

        <h3></h3>
        <div>
            <h4>Publisher</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.publisher_Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.publisher_Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.publisher_Slug)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.publisher_Slug)
                </dd>

            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Delete" class="btn btn-default" /> |
                    @Html.ActionLink("Back to List", "Index")
                </div>
            }
        </div>
        </div>
    </div>
