@model shopping.Models.Account
@{
    ViewBag.Title = "Đăng ký tài khoản";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script language="javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

<script>
    $(document).ready(function () {
        $('#accountName').blur(function () {
            var user = (this).value;
            $.ajax({
                url: "/Accounts/CheckAccount",
                data: { accountName: user },
                success: function (data) {
                    if (data == false) {
                        $('#error').html('Tên đã có người sử dụng');
                    } else { $('#error').html('bạn có thể dụng tên này'); }
                }
            });
        });
    });
</script>
<div class="col-sm-9">
    <h2 class="title text-center">Chỉnh sửa thông tin của bạn</h2>
    @using (Html.BeginForm())
    {
        <h2>Thêm người dùng</h2>
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            @Html.ValidationSummary(true)
            <div class="form-group">
                <label class="control-label col-md-2">Tên tài khoản</label>
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.accountName, new {@class="form-control" })
                    <div id="error"></div>
                    @Html.ValidationMessageFor(model => model.accountName)
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">Mật khẩu</label>
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.password, new { @class="form-control",@type="password"})
                    @Html.ValidationMessageFor(model => model.password)
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">Tên hiển thị</label>
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.fullName, new { @class="form-control"})
                    @Html.ValidationMessageFor(model => model.fullName)
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">Ảnh đại diện</label>
                <div class="col-md-10">
                    <input type="file" name="image_Account" id="image_Account" />
                    @Html.ValidationMessageFor(model => model.imagePath)
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">Ngày sinh</label>
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.birthDay, "{0:dd/MM/yyyy}", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.birthDay)
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">Số điện thoại</label>
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.phone, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.phone)
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">Email</label>
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.email, new { @class = "form-control", @type = "email" })
                    @Html.ValidationMessageFor(model => model.email)
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">Địa chỉ</label>
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.address, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.address)
                </div>
            </div>
          
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Tạo mới" class="btn btn-success" />
                </div>
            </div>
        </div>
   
      
    }

    </div>
